<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>This is index page of Week08 workshops</title>
</head>
<body>
	<h1>Week08 - Workshops</h1>
	<h3>
		<ol>
			<li>
				Workshop01 - Image Processing (Shape/Hough)
				<a href="/workshop01" target="_blank">CLICK!</a>
			</li>
			<li>
				Workshop02 - HAAR Cascade Object Detection
				<a href="/workshop02" target="_blank">CLICK!</a>
			</li>
		</ol>
	</h3>
	
</body>
</html>